div.well{
    height: 250px;
}

.Absolute-Center {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.Absolute-Center.is-Responsive {
    width: 50%;
    height: 50%;
    min-width: 200px;
    max-width: 400px;
    padding: 40px;
}

#logo-container{
    margin: auto;
    margin-bottom: 10px;
    height: 60px;
    width: 335px;
    background-image:url('../images/qs-logo.png');
}

.password-error{
    color: red;
}