<div class="container">
    <h1>Users</h1>

    <p>Double click row for open user profile</p>

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Email</th>
                <th>Position</th>
                <th>Online</th>
                <th>Registry date</th>
                <th>Buttons</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in vm.data.users" ng-if="!user.hide" ng-dblclick="vm.handlers.goToUserProfile(user.id)">
                <td>{{$index + 1}}</td>
                <td  ng-bind="user.firstName"></td>
                <td ng-bind="user.email"></td>
                <td ng-bind="user.position"></td>
                <td><span ng-if="user.online == 1">Online</span><span ng-if="user.online != 1">Offline</span></td>
                <td ng-bind="user.createDate"></td>
                <td><button class="btn" ng-click="vm.handlers.deleteUser(user.id)">Remove</button></td>
            </tr>
        </tbody>
    </table>
</div>