<div class="container">
    <h1>User <span ng-bind="vm.data.user.firstName"></span></h1>


    <div class="user-proile">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <form name="userProfileForm" ng-submit="vm.handlers.updateUser()">
                <div class="form-group input-group">
                    <label>First name</label>
                    <input ng-model="vm.data.user.firstName" class="form-control" type="text" name="firstName" />
                </div>
                <div class="form-group input-group">
                    <label>Last name</label>
                    <input ng-model="vm.data.user.lastName" class="form-control" type="text" name='lastName' placeholder="last name"/>
                </div>
                <div class="form-group input-group">
                    <label>Email</label>
                    <input ng-model="vm.data.user.email" class="form-control" type="text" name='email' placeholder="email"/>
                </div>
                <div class="form-group input-group">
                    <label>Work position</label>
                    <select ng-model="vm.data.user.position" class="form-control">
                        <option value="Developer">Developer</option>
                        <option value="CHR">CHR</option>
                        <option value="BOSS">BOSS</option>
                    </select>
                </div>
                <div class="form-group input-group">
                    <label for="online">Online</label>
                    <input ng-model="vm.data.user.online" class="form-control" type="checkbox" name='online' placeholder="online" id="online"/>
                </div>
                <button type="submit" class="btn">Update</button>
            </form>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <form ng-submit="vm.handlers.addUserNote(vm.data.user.note)">
                    <textarea ng-model="vm.data.note"></textarea>
                    <button type="submit">Add note</button>
                </form>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div ng-repeat="(key, note) in vm.data.user.notes" ng-dblclick="vm.handlers.deleteNote(key)">
                    <div ng-bind="note"></div>
                </div>
            </div>
        </div>
    </div>

</div>