<div class="container">
    <div class="row">
        <div class="Absolute-Center is-Responsive">
            <div id="logo-container"></div>
            <div class="col-sm-12 col-md-10 col-md-offset-1">
                <form name="loginForm" ng-submit="vm.handlers.login()" ng-if="!vm.flags.registration">
                    <h3>Sign in</h3>
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input pattern=".{4,}" ng-model="vm.data.login.email" class="form-control" type="email" name="username" placeholder="username" required/>
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input pattern=".{5,}" ng-model="vm.data.login.password" class="form-control" type="password" name='password' placeholder="password" required/>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn">Login</button>
                    </div>
                    <div class="form-group text-center">
                        <a>Forgot Password</a>&nbsp;|&nbsp;<a ng-click="vm.flags.registration = true">Registration</a>
                    </div>
                </form>
                <div  ng-if="vm.flags.registration" ng-include="'./src/modules/authorization/registration.html'"></div>
            </div>
        </div>
    </div>
</div>