<form name="registerForm" ng-submit="vm.handlers.registration()">
    <h3>Sign up</h3>
    <div class="form-group input-group">
        <label for="last-name">Email *</label>
        <input ng-model="vm.data.registration.email" id="email" class="form-control" type="email" name='email' placeholder="email" required/>
    </div>
    <div class="form-group input-group">
        <label for="first-name">First name  *</label>
        <input ng-model="vm.data.registration.firstName" id="first-name" class="form-control" type="text" name='firstname' placeholder="first name" required/>
    </div>
    <div class="form-group input-group">
        <label for="last-name">Last name *</label>
        <input ng-model="vm.data.registration.lastName" id="last-name" class="form-control" type="text" name='lastname' placeholder="last name" required/>
    </div>
    <div class="form-group input-group">
        <label for="psw1">Password * (min: 5)</label>
        <input pattern=".{5,}" ng-model="vm.data.registration.password" id="psw1" class="form-control" type="password" name='psw1' placeholder="password" required/>
    </div>
    <div class="form-group input-group">
        <label for="psw2">Confirm password *</label>
        <input pattern=".{5,}" ng-model="vm.data.registration.passwordConfirm" id="psw2" class="form-control" type="password" name='psw2' placeholder="Confirm password" required/>
    </div>
    <div class="form-group input-group">
        <label for="position">Position</label>
        <input ng-model="vm.data.registration.position" id="position" class="form-control" type="text" name='position' placeholder="Working position"/>
    </div>
    <button type="submit" class="btn">Registration</button>

    <div class="password-error" ng-if="!vm.flags.passwordMatch">Passwords do not match!</div>

    <div class="form-group text-center">
        <a ng-click="vm.flags.registration = false">Login</a>&nbsp;|&nbsp;<a>Support</a>
    </div>
</form>